
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Sweetalert
@import "node_modules/sweetalert/dev/sweetalert";

header {
	position: absolute;
}

.centered-xy {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Slide {
	width: 100%;
	height: 100vh;
	background: url('/images/slides/slide1.jpg') no-repeat;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding: 30px;
}

.Slide__title {
    color: white;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.Slide__description {
	color: white;
    font-size: 2rem;
    text-align: center;
}

.Inquiry {
    background: rgba(0,0,0,0.7);

    label {
    	color: white;
    }
}

.Inquiry__title {
	color: white;
	text-align: center;
}

@import 'components/HomeVideo';
@import 'components/Overwrite';
